Presentacion/Service References/refProv/ServiceWCFProveedores.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiciosWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiciosWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDTOTipoServicio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DTOTipoServicio" nillable="true" type="tns:DTOTipoServicio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDTOTipoServicio" nillable="true" type="tns:ArrayOfDTOTipoServicio" />
  <xs:complexType name="DTOTipoServicio">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="listaEventos" nillable="true" type="tns:ArrayOfDTOTipoEvento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTOTipoServicio" nillable="true" type="tns:DTOTipoServicio" />
  <xs:complexType name="ArrayOfDTOTipoEvento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DTOTipoEvento" nillable="true" type="tns:DTOTipoEvento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDTOTipoEvento" nillable="true" type="tns:ArrayOfDTOTipoEvento" />
  <xs:complexType name="DTOTipoEvento">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTOTipoEvento" nillable="true" type="tns:DTOTipoEvento" />
  <xs:complexType name="DTOServicio">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="foto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="prov" nillable="true" type="tns:DTOProveedor" />
      <xs:element minOccurs="0" name="tipoServ" nillable="true" type="tns:DTOTipoServicio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTOServicio" nillable="true" type="tns:DTOServicio" />
  <xs:complexType name="DTOProveedor">
    <xs:sequence>
      <xs:element minOccurs="0" name="FechaIni" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RUT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VIP" type="xs:boolean" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTOProveedor" nillable="true" type="tns:DTOProveedor" />
</xs:schema>