Presentacion/Service References/Services/ServiceWCFProveedores.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceWCFProveedores" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:18344/ServiceWCFProveedores.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:18344/ServiceWCFProveedores.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:18344/ServiceWCFProveedores.svc?xsd=xsd2" />
      <xsd:import schemaLocation="http://localhost:18344/ServiceWCFProveedores.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio" />
      <xsd:import schemaLocation="http://localhost:18344/ServiceWCFProveedores.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Persistencia" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceWCFProveedores_ObtenerTodos_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTodos" />
  </wsdl:message>
  <wsdl:message name="IServiceWCFProveedores_ObtenerTodos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTodosResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCFProveedores_ObtenerPorRut_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPorRut" />
  </wsdl:message>
  <wsdl:message name="IServiceWCFProveedores_ObtenerPorRut_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPorRutResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceWCFProveedores">
    <wsdl:operation name="ObtenerTodos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCFProveedores/ObtenerTodos" message="tns:IServiceWCFProveedores_ObtenerTodos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCFProveedores/ObtenerTodosResponse" message="tns:IServiceWCFProveedores_ObtenerTodos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPorRut">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCFProveedores/ObtenerPorRut" message="tns:IServiceWCFProveedores_ObtenerPorRut_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCFProveedores/ObtenerPorRutResponse" message="tns:IServiceWCFProveedores_ObtenerPorRut_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceWCFProveedores" type="tns:IServiceWCFProveedores">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerTodos">
      <soap:operation soapAction="http://tempuri.org/IServiceWCFProveedores/ObtenerTodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPorRut">
      <soap:operation soapAction="http://tempuri.org/IServiceWCFProveedores/ObtenerPorRut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceWCFProveedores">
    <wsdl:port name="BasicHttpBinding_IServiceWCFProveedores" binding="tns:BasicHttpBinding_IServiceWCFProveedores">
      <soap:address location="http://localhost:18344/ServiceWCFProveedores.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>