Presentacion/Service References/ServiceReference1/ServiceWCFProveedores.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceWCFProveedores" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1723/ServiceWCFProveedores.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1723/ServiceWCFProveedores.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1723/ServiceWCFProveedores.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicesWCF" />
      <xsd:import schemaLocation="http://localhost:1723/ServiceWCFProveedores.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceWCFProveedores_insertar_InputMessage">
    <wsdl:part name="parameters" element="tns:insertar" />
  </wsdl:message>
  <wsdl:message name="IServiceWCFProveedores_insertar_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertarResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCFProveedores_listarTiposServ_InputMessage">
    <wsdl:part name="parameters" element="tns:listarTiposServ" />
  </wsdl:message>
  <wsdl:message name="IServiceWCFProveedores_listarTiposServ_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarTiposServResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCFProveedores_listarTiposEvPorServ_InputMessage">
    <wsdl:part name="parameters" element="tns:listarTiposEvPorServ" />
  </wsdl:message>
  <wsdl:message name="IServiceWCFProveedores_listarTiposEvPorServ_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarTiposEvPorServResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCFProveedores_leerServicio_InputMessage">
    <wsdl:part name="parameters" element="tns:leerServicio" />
  </wsdl:message>
  <wsdl:message name="IServiceWCFProveedores_leerServicio_OutputMessage">
    <wsdl:part name="parameters" element="tns:leerServicioResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCFProveedores_leerTipoServicio_InputMessage">
    <wsdl:part name="parameters" element="tns:leerTipoServicio" />
  </wsdl:message>
  <wsdl:message name="IServiceWCFProveedores_leerTipoServicio_OutputMessage">
    <wsdl:part name="parameters" element="tns:leerTipoServicioResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCFProveedores_leerTipoEvento_InputMessage">
    <wsdl:part name="parameters" element="tns:leerTipoEvento" />
  </wsdl:message>
  <wsdl:message name="IServiceWCFProveedores_leerTipoEvento_OutputMessage">
    <wsdl:part name="parameters" element="tns:leerTipoEventoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCFProveedores_desactivarProveedor_InputMessage">
    <wsdl:part name="parameters" element="tns:desactivarProveedor" />
  </wsdl:message>
  <wsdl:message name="IServiceWCFProveedores_desactivarProveedor_OutputMessage">
    <wsdl:part name="parameters" element="tns:desactivarProveedorResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCFProveedores_modificarArancel_InputMessage">
    <wsdl:part name="parameters" element="tns:modificarArancel" />
  </wsdl:message>
  <wsdl:message name="IServiceWCFProveedores_modificarArancel_OutputMessage">
    <wsdl:part name="parameters" element="tns:modificarArancelResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCFProveedores_modificarPorcentajeVIP_InputMessage">
    <wsdl:part name="parameters" element="tns:modificarPorcentajeVIP" />
  </wsdl:message>
  <wsdl:message name="IServiceWCFProveedores_modificarPorcentajeVIP_OutputMessage">
    <wsdl:part name="parameters" element="tns:modificarPorcentajeVIPResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCFProveedores_leerProveedor_InputMessage">
    <wsdl:part name="parameters" element="tns:leerProveedor" />
  </wsdl:message>
  <wsdl:message name="IServiceWCFProveedores_leerProveedor_OutputMessage">
    <wsdl:part name="parameters" element="tns:leerProveedorResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCFProveedores_devolverProveedores_InputMessage">
    <wsdl:part name="parameters" element="tns:devolverProveedores" />
  </wsdl:message>
  <wsdl:message name="IServiceWCFProveedores_devolverProveedores_OutputMessage">
    <wsdl:part name="parameters" element="tns:devolverProveedoresResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCFProveedores_buscarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:buscarUsuario" />
  </wsdl:message>
  <wsdl:message name="IServiceWCFProveedores_buscarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:buscarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCFProveedores_Decryptdata_InputMessage">
    <wsdl:part name="parameters" element="tns:Decryptdata" />
  </wsdl:message>
  <wsdl:message name="IServiceWCFProveedores_Decryptdata_OutputMessage">
    <wsdl:part name="parameters" element="tns:DecryptdataResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCFProveedores_Encryptdata_InputMessage">
    <wsdl:part name="parameters" element="tns:Encryptdata" />
  </wsdl:message>
  <wsdl:message name="IServiceWCFProveedores_Encryptdata_OutputMessage">
    <wsdl:part name="parameters" element="tns:EncryptdataResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCFProveedores_provATexto_InputMessage">
    <wsdl:part name="parameters" element="tns:provATexto" />
  </wsdl:message>
  <wsdl:message name="IServiceWCFProveedores_provATexto_OutputMessage">
    <wsdl:part name="parameters" element="tns:provATextoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCFProveedores_servATexto_InputMessage">
    <wsdl:part name="parameters" element="tns:servATexto" />
  </wsdl:message>
  <wsdl:message name="IServiceWCFProveedores_servATexto_OutputMessage">
    <wsdl:part name="parameters" element="tns:servATextoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceWCFProveedores">
    <wsdl:operation name="insertar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCFProveedores/insertar" message="tns:IServiceWCFProveedores_insertar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCFProveedores/insertarResponse" message="tns:IServiceWCFProveedores_insertar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listarTiposServ">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCFProveedores/listarTiposServ" message="tns:IServiceWCFProveedores_listarTiposServ_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCFProveedores/listarTiposServResponse" message="tns:IServiceWCFProveedores_listarTiposServ_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listarTiposEvPorServ">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCFProveedores/listarTiposEvPorServ" message="tns:IServiceWCFProveedores_listarTiposEvPorServ_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCFProveedores/listarTiposEvPorServResponse" message="tns:IServiceWCFProveedores_listarTiposEvPorServ_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="leerServicio">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCFProveedores/leerServicio" message="tns:IServiceWCFProveedores_leerServicio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCFProveedores/leerServicioResponse" message="tns:IServiceWCFProveedores_leerServicio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="leerTipoServicio">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCFProveedores/leerTipoServicio" message="tns:IServiceWCFProveedores_leerTipoServicio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCFProveedores/leerTipoServicioResponse" message="tns:IServiceWCFProveedores_leerTipoServicio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="leerTipoEvento">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCFProveedores/leerTipoEvento" message="tns:IServiceWCFProveedores_leerTipoEvento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCFProveedores/leerTipoEventoResponse" message="tns:IServiceWCFProveedores_leerTipoEvento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="desactivarProveedor">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCFProveedores/desactivarProveedor" message="tns:IServiceWCFProveedores_desactivarProveedor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCFProveedores/desactivarProveedorResponse" message="tns:IServiceWCFProveedores_desactivarProveedor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modificarArancel">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCFProveedores/modificarArancel" message="tns:IServiceWCFProveedores_modificarArancel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCFProveedores/modificarArancelResponse" message="tns:IServiceWCFProveedores_modificarArancel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modificarPorcentajeVIP">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCFProveedores/modificarPorcentajeVIP" message="tns:IServiceWCFProveedores_modificarPorcentajeVIP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCFProveedores/modificarPorcentajeVIPResponse" message="tns:IServiceWCFProveedores_modificarPorcentajeVIP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="leerProveedor">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCFProveedores/leerProveedor" message="tns:IServiceWCFProveedores_leerProveedor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCFProveedores/leerProveedorResponse" message="tns:IServiceWCFProveedores_leerProveedor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="devolverProveedores">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCFProveedores/devolverProveedores" message="tns:IServiceWCFProveedores_devolverProveedores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCFProveedores/devolverProveedoresResponse" message="tns:IServiceWCFProveedores_devolverProveedores_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="buscarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCFProveedores/buscarUsuario" message="tns:IServiceWCFProveedores_buscarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCFProveedores/buscarUsuarioResponse" message="tns:IServiceWCFProveedores_buscarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Decryptdata">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCFProveedores/Decryptdata" message="tns:IServiceWCFProveedores_Decryptdata_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCFProveedores/DecryptdataResponse" message="tns:IServiceWCFProveedores_Decryptdata_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Encryptdata">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCFProveedores/Encryptdata" message="tns:IServiceWCFProveedores_Encryptdata_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCFProveedores/EncryptdataResponse" message="tns:IServiceWCFProveedores_Encryptdata_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="provATexto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCFProveedores/provATexto" message="tns:IServiceWCFProveedores_provATexto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCFProveedores/provATextoResponse" message="tns:IServiceWCFProveedores_provATexto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="servATexto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCFProveedores/servATexto" message="tns:IServiceWCFProveedores_servATexto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCFProveedores/servATextoResponse" message="tns:IServiceWCFProveedores_servATexto_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceWCFProveedores" type="tns:IServiceWCFProveedores">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertar">
      <soap:operation soapAction="http://tempuri.org/IServiceWCFProveedores/insertar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarTiposServ">
      <soap:operation soapAction="http://tempuri.org/IServiceWCFProveedores/listarTiposServ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarTiposEvPorServ">
      <soap:operation soapAction="http://tempuri.org/IServiceWCFProveedores/listarTiposEvPorServ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="leerServicio">
      <soap:operation soapAction="http://tempuri.org/IServiceWCFProveedores/leerServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="leerTipoServicio">
      <soap:operation soapAction="http://tempuri.org/IServiceWCFProveedores/leerTipoServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="leerTipoEvento">
      <soap:operation soapAction="http://tempuri.org/IServiceWCFProveedores/leerTipoEvento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="desactivarProveedor">
      <soap:operation soapAction="http://tempuri.org/IServiceWCFProveedores/desactivarProveedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarArancel">
      <soap:operation soapAction="http://tempuri.org/IServiceWCFProveedores/modificarArancel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarPorcentajeVIP">
      <soap:operation soapAction="http://tempuri.org/IServiceWCFProveedores/modificarPorcentajeVIP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="leerProveedor">
      <soap:operation soapAction="http://tempuri.org/IServiceWCFProveedores/leerProveedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="devolverProveedores">
      <soap:operation soapAction="http://tempuri.org/IServiceWCFProveedores/devolverProveedores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarUsuario">
      <soap:operation soapAction="http://tempuri.org/IServiceWCFProveedores/buscarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Decryptdata">
      <soap:operation soapAction="http://tempuri.org/IServiceWCFProveedores/Decryptdata" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Encryptdata">
      <soap:operation soapAction="http://tempuri.org/IServiceWCFProveedores/Encryptdata" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="provATexto">
      <soap:operation soapAction="http://tempuri.org/IServiceWCFProveedores/provATexto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="servATexto">
      <soap:operation soapAction="http://tempuri.org/IServiceWCFProveedores/servATexto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceWCFProveedores">
    <wsdl:port name="BasicHttpBinding_IServiceWCFProveedores" binding="tns:BasicHttpBinding_IServiceWCFProveedores">
      <soap:address location="http://localhost:1723/ServiceWCFProveedores.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>